

// homepage has a stripped css file, so apply the search field styling
.search-query {
  background-color: #FFF;
  border: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

// need relative positioning for sidebar
.content-inner {
  position: relative;
}

.why-ualberta-row {
  position: relative;
  .why-text { padding: 0 0.83333em; }
  .button-container {
    text-align: center;
    font-size: 0.85em;
    a.btn {
      margin: 0.275em;
    }
  }
  .frame {
    display:none;
  }
}

@media (min-width: 43.125em) {

  .secondary-content-area > hr {
    display:none;
  }


  .why-ualberta-row {
    .why-text {
      margin-right:30%;
      margin-left:25%;
      max-width:60em;
      padding:0;
    }
    .button-container {
      font-size: 1em;
      position:absolute;
      margin:auto;
      top:0;
      bottom:0;
      height:9em;
      width: 15em;
      right:1em;
      a.btn {
        display: block;
        margin: 0.2em 0 0.35em 0;
        font-size:  1em;
      }
    }
    .frame {
      display:inline-block; 
      float:left; 
      width:20%;
      margin: 0 2% 1em 1em;
    }
    .extrude {
      min-height: 135px;
    }
  }

  .ualberta-home .sidebar {
    position:relative;
  }
}

h1.hp-h1 {
  display:none;
}

@media (min-width: 75em) {
  .why-ualberta-row {
    .frame {
      width: 20%;
    }
    .why-text {
      font-size: 1.2em;
      line-height: 1.42em;
    }
    .button-container {
      height:10.5em;
      width:20em;
      a.btn {
        font-size:  1.2em;
      }
    }
  }
}


@media (min-width: 43.125em) and (max-width: 61.1875em) {
  // main column: 75.26041666666666%
  // margin: 2.7624309392265194%
    .why-ualberta-row {
      .button-container {
        width: 22.135416666666664%;
        min-width: 156px;
      }
      .frame {
        float: left;
      }
    }
  
}

// Internet Explorer

.lt-ie9 {

  .banner-inner, .blade-inner, .content-inner, .footer-container, .navigation-inner {
    width:940px;
  }

  .content-top-row {
    width:940px;
    margin-left:auto;
    margin-right:auto;
  }

  .ualberta-home {
    .row-fluid {
      .main-content {
        width: 80%;
        float:left;
      }
      .primary-content-area {
        width: 61.25%;
      }
      .secondary-content-area {
        width: 35%;
        margin-left: 3.75%;
        & > hr.soften:first-child {
          display:none;
        }
      }
      .sidebar {
        width: 17%;
        margin: 0 0 0 3%;
        border-top:none;
      }
    }
    .explore-bar-container ul.explore-bar li i {
      background: transparent;
    }
  }

  .feature-area { 
    width:940px;
    margin:1em auto 0;
  }

  .feature-area > .slides > li { 
    text-align:center; 
    overflow:hidden; 
  }

  .feature-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 105em; // 1680px
    overflow:visible;
  }

  .feature-image {
    width:auto;
  }

  .feature-image img {
    width:100%;
    max-width:none;
  }

  .feature-image {
    &.focus-right {
      float:none;
    }
    &.focus-center {
      position:static;
      left:auto;
      margin:0;
    }
  }

  .feature-area + .content-top-row {
    margin-top:1.57em;
  }

  .why-ualberta-row {
    .why-text {
      margin-right:30%;
      margin-left:25%;
      max-width:60em;
      padding:0;
    }
    .button-container {
      font-size: 1em;
      position:absolute;
      margin:auto;
      top:0;
      bottom:0;
      height:9em;
      width: 15em;
      right:1em;
      a.btn {
        display: block;
        margin: 0.2em 0px 0.35em 0px;
        font-size:  1em;
        padding-top: 0.85em; 
        padding-bottom: 0.6em;
        line-height: 1em;
      }
    }
    .frame {
      display:inline-block; 
      float:left; 
      width:20%;
      margin: 0 2% 1em 1em;
    }
    .extrude {
      min-height: 135px;
    }
  }

  .feature-content {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    text-align:left;
    &.left-island {
      right:auto;
      left: 3%
    }
    &.right-island {
      left:auto;
      right: 3%;
    }
    &.bottom-island {
      top:auto;
      bottom:10%;
    }
    &.dark {
      background:transparent;
      filter: ~"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000')";
      border-bottom-color:#ffdb05;
      color:#fff;
      text-shadow: 0 1px 6px #000;
      h3 { color: #ffdb05; }
    }
  }
}