// CSS Reset
@import "./base/_reset.less";

// Core variables, mixins, fonts
@import "./base/_mixins.less";

// Default styles and patterns
@import "./base/_scaffolding.less";

// Grid system
@import "./base/_grid.less"; 

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: @baseLineHeight;
  #em > .padding(4, 6, 14);
  #em > .margin(bottom, 9, 14);
  #em > .font-size(14, 14);
  line-height: 1em;
  color: @gray;
  .border-radius(@inputBorderRadius);
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: @inputBackground;
  border: 1px solid @inputBorder;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border linear .2s, box-shadow linear .2s");
//  height:30px;
  height: @baseLineHeight;
  // Focus state
  &:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6));
  }
}

// Blade, Banner, Navigation, Content, Sidebar and Footer Page Elements 
@import "./base/_page-elements.less"; 

// Nav
@import "./base/_navigation.less"; 

@import "./components/_icons.less";
@import "./components/_buttons.less";
@import "./components/_data-list.less";
@import "./components/_explore-bar.less";
@import "./components/_module-base.less";
@import "./components/_feature-area.less";
@import "./components/_carousel.less";
@import "./components/_tooltips.less";
@import "./components/_inline-form.less";


  .main-navigation li[class*="nav"] { 
      width:16.66%;
    }
    .main-navigation li.nav2 {
      width:24.33%;
    }
    .main-navigation li.nav3, .main-navigation li.nav4 {
      width:13.33%;
    }
    .main-navigation li.nav5 {
      width:15.66%;
    }  
    .sidebar .extrude { position:relative; } 
  

@import "./layouts/_base-layout.less";
@import "./layouts/_institutional-home.less"; 

// homepage
//@import "../../old_less/ualberta/pages/homepage.less";  
 
  
// Sidebar Components
// ==================

 
  // Social Media Sidebar Links
  // ---------------------------
  // used in conjunction with data-list, 
  // this displays icons beside labels 
  @import "./components/_social-media.less";

  // Sidebar Base
  // --------------------------- 
  // simple content sidebar item
  @import "./components/_sidebar_base.less";
