<div id="feature-area" class="content-top-row"></div>

<div id="page-title" class="page-title-row"></div>

<div class="content-container container">
    
    <div class="content-inner row-fluid">

        <div id="first-column" class="span primary-content-area"></div>
    
        <div id="second-column" class="span secondary-content-area clearfix"></div>

        <div id="sidebar" class="span sidebar"></div>

    </div>

</div>
