<div id="explore-bar" class="explore-bar-container">
  <ul class="explore-bar slides">
    <li>
      <a href="http://uofa.ualberta.ca/dinosaurs/dino101">
        <i class="explore-i-dino101" style="text-indent:-4px"></i>
        <span>Dino 101</span>
      </a>
    </li>
    <li>
      <a href="http://www.bookstore.ualberta.ca/">
        <i class="explore-i-bookstore"></i>
        <span>Bookstore</span>
      </a>
    </li>
    <li>
      <a href="http://www.registrar.ualberta.ca/calendar/">
        <i class="explore-i-u-calendar"></i>
        <span>University Calendar</span>
      </a>
    </li>
    <li>
      <a href="http://www.residence.ualberta.ca/">
        <i class="explore-i-residence"></i>
        <span>Residence / Housing</span>
      </a>
    </li>
    <li>
      <a href="http://www.campusmaps.ualberta.ca/">
        <i class="explore-i-maps"></i>
        <span>Maps</span>
      </a>
    </li>
    <li>
      <a href="http://events.ualberta.ca/">
        <i class="explore-i-events"></i>
        <span>Events</span>
      </a>
    </li>
    <li>
      <a href="http://www.athletics.ualberta.ca/">
        <i class="explore-i-athletics"></i>
        <span>Athletics</span>
      </a>
    </li>
    <li>
      <a href="http://recservices.ualberta.ca/">
        <i class="explore-i-recreation"></i>
        <span>Recreation Services</span>
      </a>
    </li>
    <li>
      <a href="http://www.uwell.ualberta.ca/">
        <i class="explore-i-wellness"></i>
        <span>Wellness</span>
      </a>
    </li>
    <li>
      <a href="http://www.su.ualberta.ca/">
        <i class="explore-i-students-union"></i>
        <span>Students' Union</span>
      </a>
    </li>
    <li>
      <a href="http://www.communityrelations.ualberta.ca/">
        <i class="explore-i-community"></i>
        <span>Community Relations</span>
      </a>
    </li>
    <li>
      <a href="http://www.governance.ualberta.ca/">
        <i class="explore-i-governance"></i>
        <span>Governance</span>
      </a>
    </li>
    <li>
      <a href="http://faculties.ualberta.ca/">
        <i class="explore-i-programs"></i>
        <span>Programs</span>
      </a>
    </li>
    <li>
      <a href="http://www.international.ualberta.ca/">
        <i class="explore-i-international"></i>
        <span>International Impact</span>
      </a>
    </li>
    <li>
      <a href="http://www.president.ualberta.ca/">
        <i class="explore-i-president"></i>
        <span>President</span>
      </a>
    </li>
    <li>
      <a href="http://www.museums.ualberta.ca/">
        <i class="explore-i-museums"></i>
        <span>Museums</span>
      </a>
    </li>

    <li>
      <a href="http://www.gsa.ualberta.ca/">
        <i class="explore-i-graduate"></i>
        <span>Graduate Students' Association</span>
      </a>
    </li>
    <li>
      <a href="http://news.ualberta.ca/mediarelations">
        <i class="explore-i-media"></i>
        <span>Media Relations</span>
      </a>
    </li>

    <li>
      <a href="http://www.sustainability.ualberta.ca/">
        <i class="explore-i-sustainability"></i>
        <span>Sustainability</span>
      </a>
    </li>
  </ul>
</div>