<div class="frame">
    <div class="hover-caption-container">
        <a href="{{url}}" class="image-shadow">
            <img src="{{imageSrc}}" alt="{{imageAlt}}">
        </a>
        <div class="caption">
            <p>
                {{imageCaption}}
            </p>
        </div>
    </div>
</div>
