<ul class="link-mod-container">
  {{#each category}}
    <li class="link-mod-category link-mod-active">
      <h4><a>{{this.label}}</a></h4>
      <ul class="link-mod-items link-mod-searchable">
        {{#each this.links}}
          <li><a href="{{this.url}}">{{this.label}}</a></li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
