<div class="sidebar-module extrude">
  <h5 class="sidebar-title">{{title}}</h5>
  <div class="sidebar-content">
    {{#if image}}
      <!-- display image -->
    {{/if}}
    {{{content}}}
  </div>
  {{#if moreLink}}
    <a class="btn" href="{{moreLink.url}}">{{moreLink.label}}</a>
  {{/if}}
</div>