<div id="pnlSubMenu" class="sub-menu {{className}}">
  <div class="sub-menu-content">
    {{#if links}}
      <ul class="section-navigation">
        {{#each links}}
        <li>
          <a href="{{this.url}}">{{this.label}}</a>
        </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if content}}
    <div class="section-description">
        {{{content}}}
    </div>
    {{/if}}
  </div>                           
</div>