<div class="inset">
  <div class="why-ualberta-row row-fluid ga_ualberta_why-ualberta">
    <div class="frame why-thumbnail">
      <a class="image-shadow" href="http://news.ualberta.ca/newsarticles/2013/september/ualberta-alumni-founded-organizations-a-staggering-engine-of-albertas-prosperity">
      <img src="http://www.ualberta.ca/~publicas/uofa/img/alumni-impact-img.png">
      </a>
    </div>
    <div class="why-text">
      <h3>$348.5 Billion Engine</h3>
      <p class="description">Landmark study by Faculty of Business professors Tony Briggs and Jennifer Jennings highlights the economic and
      social impact of UAlberta alumni. <br><a href="http://news.ualberta.ca/newsarticles/2013/september/ualberta-alumni-founded-organizations-a-staggering-engine-of-albertas-prosperity">See the results.</a></p>
    </div>
    <div class="button-container">
      <a href="http://admission.ualberta.ca/" class="btn btn-apply km_1000_ualberta">Apply Now</a>
      <a href="http://www.careers.ualberta.ca/" class="btn btn-work km_1001_ualberta">Careers</a>
      <a href="http://www.giving.ualberta.ca/" class="btn btn-give km_1002_ualberta">Give to the U of A</a>
    </div>
  </div>
</div>
