<div class="frame">
    <div class="hover-caption-container">
        <a href="//www.youtube.com/embed/{{videoId}}?wmode=transparent&amp;autoplay=1" class="image-shadow video-modal-link" target="_blank">
            <img src="{{videoThumbnail}}" alt="{{videoTitle}}">
            <i class="icon-play-circle"></i>
        </a>
        <p class="caption">{{videoDescription}}</p>
    </div>
</div>
