<div class="blade-container">
    <div class="blade-inner">

        {{#if logo}}
        <a class="brand" href="http://ualberta.ca">
            <img src="{{logo}}" alt="University of Alberta">
        </a>
        {{/if}}

        <nav class="blade-navigation">
            <ul class="quick-links-container">
                <li id="ql" class="dropdown">
                    <a href="#" id="ql-toggle" class="btn btn-grey btn-small hidden-desktop">
                        <span class="quick-links-text">Quick Links</span>
                    </a> 
                    <ul class="quick-links" role="menu" aria-labelledby="ql-toggle">
                        {{#each quickLinks}}
                            <li role="menuitem">
                                <a href="{{this.url}}">{{this.label}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="blade-search">
            <i class="icon-search"></i>
            <input type="search" class="search-query" placeholder="search">
            <button type="button" class="btn btn-grey btn-small global-search-btn">Search</button>
        </div>

    </div>
</div>  
 