<div class="bottom-footer-row">
    <div class="footer-container container">
        <div class="footer-inner row-fluid">
            <div class="span12 footer-copyright">
                <ul class="footer-quick-links">

                    {{#each footerLinks}}
                    <li>
                        <a href="{{this.url}}" target="">{{this.label}}</a>
                    </li>
                    {{/each}}

                    <li><a href="#">Back to Top</a></li>

                </ul>
                <p>© 2014 <span id="phfooter_0_ualberta_address">University of Alberta 116 St. and 85 Ave., <br class="visible-phone">Edmonton, AB, Canada T6G 2R3</span></p>
            </div>
        </div>
    </div>
</div> 
