@media (min-width: 61.25em) {
  .ualberta-home .row-fluid {
    .first-column {
      width: 61.25%;
    }
    .second-column {
      width: 35%;
      margin-left: 3.75%;
      & > hr.soften:first-child {
        display:none;
      }
    }
    .sidebar {
      width: 17%;
      margin-left:3%;
    }
  }
}
