<div id="feature-area" class="feature-container"></div>

<div id="why-ualberta" class="why-container container"></div>

<div class="content-container container">

  <div class="content-inner row-fluid">

    <div class="main-content span">
    
      <div id="explore-row" class="row-fluid"></div>

      <hr class="soften explore-separator">

      <div class="row-fluid">

        <div id="first-column" class="primary-content-area span"></div> 

        <div id="second-column" class="secondary-content-area span"></div>

      </div>

    </div>

    <div id="sidebar" class="span sidebar"></div>

  </div>
 
</div>
