ul.toggles {
  display:block;
  position: relative;
  list-style: none;
  margin: -1em 0 0 0;
  padding: 0;
  text-align:center;
  height:1em;
  z-index:5;
  top:0;
}

ul.toggles li {
  display:inline-block;
  width:1em;
  height:1em;
  overflow:hidden;
  background:#fff;
  border-radius:2em;
  color:#fff;
  line-height:2em;
  font-weight:bold;
  margin:0.5em;
  .box-shadow(0 0 0 3px rgba(0,0,0,0.2));
  cursor:pointer;
}

ul.toggles li.current {
  .box-shadow(0 0 0 3px #FFDB05, 0 1px 6px 3px rgba(0,0,0,0.35));
  color: #fff;
}

.direction {
  position:absolute;
  top:0;left:0;bottom:0;right:0;
  height:4em;
  width:4em;
  margin:auto;
  > * {
    color:#fff;
    display:block;
    text-align:center;
    position:absolute;
    text-shadow: 1px 1px 2px #000;
  }
  i {
    top:0;
  }
  span {
    font-weight:bold;
    text-transform:uppercase;
    bottom:0;
  }
}

.direction.prev {
  right:auto;
}

.direction.next {
  left:auto;
}

.carousel-container .slides {
  z-index:2;
}

.carousel-container .slides .slide {
  display:none;
}

.carousel-container .slides .slide.current {
  display:block;
}


@media (min-width:43.125em) { 

  .carousel-container .slides {
    position:relative;

  }
        
  .carousel-container .slides .slide {
    position: absolute;
    top:0;right:0;bottom:0;left:0;
    z-index:2;
    display:block;
    opacity:0;
    .transition(opacity 0.5s ease-in);
    -webkit-backface-visibility: hidden;
  }

  .carousel-container .slides .slide.current {
    z-index:4;
    opacity:1;
  }

  .content-inner .carousel-container .slides {
    overflow:hidden;
    padding-top: 56.25%;
  }

}

.content-inner .carousel-container {
  .extrude();
  #em > .padding(5,14);
  margin-bottom:1.57em;
  .slides .slide .caption {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    pointer-events: none;
  }
  ul.toggles {
    top:0.4286em;
  }
}
 
