.slides { 
  position:relative;
  list-style:none; 
  margin:0; 
  padding:0;
}

// image centered by default on high res
.slides > .slide {
  position:relative;
}


.full-page-feature {

  width:100%;

  // inset shadow on each slide
  .slides > .slide:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.35);
    display: block;
    z-index: 3;
  }
  
  // add 1px border beneath feature to give inset appearance
  .slides { .box-shadow(0 1px 0px #fff); }

  // Default slide background color
  .slide { background: #3D4A43; }

  // image centered by default on high res
  .slides > .slide { text-align:center; }

  // push the image to the right of the screen on high res
  .slides > .slide.push-right { text-align:right; }

  // push the image to the left of the screen on high res
  .slides > .slide.push-left { text-align:left; }

  .feature-wrapper { overflow:hidden; }

  // image focus definitions
  // keeps the specified portion of the image in view
  // when cropping happens on tablet/mobile
  .feature-image {
    position:relative;
    width:690px;
    &.focus-right { float:right; }
    &.focus-right + .content-island { clear:right; }
    &.focus-center { position:relative; left:50%; margin-left:-345px; }
  }

  // display feature content below image by default
  .content-island {
    margin:auto;
    position:relative;
    z-index:990;
    display:block;
    padding:1em;
    background:#fff;
    border-bottom:3px solid #7ac900;
    text-align:left;
    .box-shadow(0 0.1em 1em rgba(0,0,0,0.5));
    h3 {
      margin-top:0;
    }
  }

  // spacing for buttons
  .feature-buttons a {
    margin:0.275em 0.75em 0.275em 0;
  }

  .feature-buttons a:last-child {
    margin-right:0;
  }

}

@media (min-width: 43.125em) {

  .full-page-feature {

    // adjust margin for center focused image
    .feature-image {
      width:980px;
      &.focus-center {
        margin-left:-490px;
      }
    }

    .slides {
      min-height:294px;
    }

    // detach feature content
    // island positions
    .content-island {
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      top:0;
      width:20em;
      max-height:10em;
      text-align:left;
      .border-radius(4px);
      &.left-island {
        right:auto;
        left: 3%
      }
      &.right-island {
        left:auto;
        right: 3%;
      }
      &.bottom-island {
        top:auto;
        bottom:10%;
      }
      &.dark {
        background:rgba(0,0,0,0.65);
        border-bottom-color:#ffdb05;
        color:#fff;
        text-shadow: 0 1px 6px #000;
        h3 { color: #ffdb05; }
      }
    }

  }

}

@media (min-width: 61.25em) {

  .full-page-feature {

    margin-bottom:1.57em;

    .slides {
      padding-top: 30%;
      min-height:0;
    }

    & > .slides > .slide { 
      overflow:hidden; 
    }

    // max out the image at 1560px wide
    // show overflow in case image has a shadow
    .feature-wrapper {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 1560px;
      overflow:visible;
    }
 
    .feature-image {
      width:auto;
    }

    .feature-image img {
      width:100%;
      max-width:none; 
    }

    .feature-image {
      &.focus-right {
        float:none;
      }
      &.focus-center {
        position:static;
        left:auto;
        margin:0;
      }
    }

  }

}

@media (min-width: 75em) {

  .full-page-feature {

    .content-island {
      &.left-island {
        left: 5%
      }
      &.right-island {
        right: 5%;
      }
    }

  }

}

@media screen and (min-width: 96em) {
  .full-page-feature .slides {
    height: 29em;
    padding-top: 0;
  }
}


