.slides { 
  position:relative;
  list-style:none; 
  margin:0; 
  padding:0;
}

// image centered by default on high res
.slides > .slide {
  position:relative;
}

// style definitions to full page feature
.full-page-feature {

  width:100%;

  // inset shadow on each slide
  .slides > .slide:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    z-index: 3;
  }
  
  // add 1px border beneath feature to give inset appearance
  .slides { .box-shadow(0 1px 0px #fff); }

  // semi transparent border at the bottom of the feature area
  .slides:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: rgba(0,0,0,0.2);
    display: block;
    content: "";
    z-index: 4;
  }

  // Default slide background color
  .slide { background: #3D4A43; }

  // put in spacing for image if using background
  .slide.bg-image { 
    background-size: auto 207px;
    padding-top:207px;
    background-repeat:no-repeat;
    background-position: top center;
  }

  // image centered by default on high res
  .slides > .slide { text-align:center; }

  // push the image to the right of the screen on high res
  .slides > .slide.push-right { text-align:right; }

  // push the image to the left of the screen on high res
  .slides > .slide.push-left { text-align:left; }

  // alignment for background images
  .slide.bg-image.push-left { background-position: left top; }
  .slide.bg-image.push-right { background-position: right top; }

  .feature-wrapper { overflow:hidden; }

  // hide gradients until image hits its max width
  .overlay-gradient { display:none; }

  // image focus definitions
  // keeps the specified portion of the image in view
  // when cropping happens on tablet/mobile
  .feature-image {
    position:relative;
    width:690px;
    &.focus-right { float:right; }
    &.focus-right + .content-island { clear:right; }
    &.focus-center { position:relative; left:50%; margin-left:-345px; }
  }

  // display feature content below image by default
  .content-island {
    margin:auto;
    position:relative;
    z-index:990;
    display:block;
    padding:1em;
    background:#fff;
    border-bottom:3px solid #7ac900;
    text-align:left;
    .box-shadow(0 0.1em 1em rgba(0,0,0,0.5));
    h3 {
      margin-top:0;
    }
  }

  // spacing for buttons
  .feature-buttons a {
    margin:0.275em 0.75em 0.275em 0;
  }

  // last button has no margin
  .feature-buttons a:last-child {
    margin-right:0;
  }

}

@media (min-width: 43.125em) {

  .full-page-feature {

    // image centered by default on high res
    .slides > .slide {
      position:absolute;
      top:0;
      left:0;
      right:0;
    }

    // adjust margin for center focused image
    .feature-image {
      width:980px;
      &.focus-center {
        margin-left:-490px;
      }
    }

    // fix height of feature image and hide any overflow
    .slides, .slide {
      min-height:290px;
      overflow:hidden;
    }

    // using content islands now, no need for padding to show background
    .slide.bg-image {
      padding-top:0;
      background-size: auto 294px;
    }

    // detach feature content
    // island positions
    .content-island {
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      top:0;
      width:20em;
      max-height:10em;
      text-align:left;
      .border-radius(4px);
      &.left-island {
        right:auto;
        left: 3%
      }
      &.right-island {
        left:auto;
        right: 3%;
      }
      &.bottom-island {
        top:auto;
        bottom:10%;
      }
      &.dark {
        background:rgba(0,0,0,0.65);
        border-bottom-color:#ffdb05;
        color:#fff;
        text-shadow: 0 1px 6px #000;
        h3 { color: #ffdb05; }
      }
      &.no-box {
        border:none;
        background:none;
        .box-shadow(none); 
      }
    }

  }

}

@media (min-width: 61.25em) {
  .full-page-feature {
    margin-bottom:1.57em;
    .slides {
      padding-top: 30%;
      min-height:0;
    }
    & > .slides > .slide { 
      overflow:hidden; 
    }
    // max out the image at 1560px wide
    // show overflow in case image has a shadow
    .feature-wrapper {
      display: inline-block;
      position: relative;
      width: 100%;
      height:100%;
      max-width: 1560px;
      overflow:visible;
    }
    // set to 100.5% to prevent 1px from showing up below image
    .slide.bg-image {
      background-size: auto 100.5%;
    }
    .feature-image {
      width:auto;
    }
    .feature-image img {
      width:100%;
      max-width:none; 
    }
    .feature-image {
      &.focus-right {
        float:none;
      }
      &.focus-center {
        position:static;
        left:auto;
        margin:0;
      }
    }
  }
}

@media (min-width: 75em) {
  .full-page-feature {
    .content-island {
      &.left-island {
        left: 5%
      }
      &.right-island {
        right: 5%;
      }
    }
  }
}

@media (min-width: 98.25em) {
  .full-page-feature .slides {
    height: 29.25em; // fixed height at 1536
    padding-top: 0;
  }
  .full-page-feature .overlay-gradient { display:block; }
}


